@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --body-color: #f2f2f2;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #82b3d3;
  --green-color: #7db54F;
  --brown-color: #756157;
  --grey-color: #333333;
  --dark-grey-color: #83b3d31f;
  --light-grey-color: #83b3d333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;

  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

/*Titles*/
.section-title, {
  text-transform: uppercase;
}

/*Main*/
.main-index {
  text-align: center;
}

.main-header,
.inner-header {
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header {
  background-image: url("../images/index-header.jpg");
}

.inner-header {
  background-image: url("../images/inner-header.jpg");
  color: var(--white-color);
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.white-section {
  background-color: var(--white-color);
}


/*Breadcrumbs*/
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/*Filter*/
.catalog-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*Control*/
.control-input,
.newsletter-email {
  background-color: var(--body-color);
  border: none;
  font-size: 18px;
  line-height: 24px;
}

.control-input {
  font-weight: 700;
}


/*Button*/
.button,
.hotel-card-button,
.hotel-card-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  border: none;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
}

.blue-button {
  background-color: var(--black-color);
}

.green-button {
  background-color: var(--green-color);
}

/*Card*/
.hotel-card-button {
  background-color: var(--brown-color);
}

.hotel-card-rating {
  background-color: var(--body-color);
  color: var(--grey-color);
}

/*Navigation*/
.navigation-link,
.social-link,
.footer-contacts-phone,
.footer-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black-color);
  text-align: center;
}

/*Description*/
.description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
}

/*Reasons*/
.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.reasons-item:first-child,
.reasons-item:last-child {
  background-color: var(--blue-color);
}

.reasons-item:nth-child(odd),
.recommendations-item:first-child,
.recommendations-item:last-child {
  background-color: var(--dark-grey-color);
}

.reasons-item:nth-child(even){
  background-color: var(--light-grey-color);
}

/*Search*/
.search-link,
.secondary-navigation-link-button {
  background-color: var(--brown-color);

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}

/*Newsletter*/
.newsletter-background {
  background-image: url("../images/subscribe.jpg");
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter {
  text-align:  center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
}

/*Pagination*/
.pagination-link {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.pagination-link-current,
.pagination-link-more {
  color: var(--black-color);
}

.pagination-link-current {
  background-color: var(--body-color);
}

.pagination-link-more {
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
